<?xml version="1.0"?>
<!-- This file contains the external sites that can be opened from the popup menu.

For now you have to edit it manually :-(

-->
<menu>
   <!-- a category is a submenu -->
   <category name="whois">
      <!-- the only menu items are:
        * get : a simple http GET request
        * sep : menu separator

        A 'get' entry has to have a name!
        The content is the URL, the queried IP address is simply appended; if you need
        to specify multiple params you have to wrap the URL into a CDATA block because
        '&' is not allowed inside XML text.
      -->
      <get name="dshield">http://www.dshield.org/ipinfo.html?ip=</get>
      <get name="iptools"><![CDATA[http://www.iptools.com/dnstools.php?tool=ipwhois&user_data=]]></get>
      <get name="samspade"><![CDATA[http://samspade.org/whois?server=auto&query=]]></get>
   </category>
   <category name="bims">
      <get name="nwhois">http://www.bluetack.co.uk/bims/newwhois.php?domain=</get>
      <get name="fawhois">http://fa.homelinux.com/sa_whois/index.php?domain=</get>
      <get name="sawhois">http://67.18.178.10/sa_whois/index.php?domain=</get>
      <sep/>
      <get name="check IP"><![CDATA[http://www.bluetack.co.uk/bims/hunter.php?action=adminbrowse&recs=detail&type=ip&crit=]]></get>
   </category>
   <category name="traceroute">
      <get name="iptools"><![CDATA[http://www.iptools.com/dnstools.php?tool=traceroute&user_data=]]></get>
   </category>
</menu>
